:root {
	--blue-darker: #002647;
  --blue-dark: #003A6C;
	--blue-medium: #007AA5;
	--blue-light: #c4d8e2;
	--blue-light-rgb: 196, 216, 226; /* using rgb for opacity control later*/
	--blue-white: #EBECF0;
}

body {
  margin: 0;
}

.App {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: auto;
  background: var(--blue-dark);
  color: var(--blue-light);
  text-align: center;
}
.App.red {
  --blue-dark: red;
}

.controllerContainer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.controller {
  display: inline-block;
  /*border: 1px solid var(--blue-light);*/
  margin-right: 20px;
  padding: 7px 5px 3px;
  border-radius: 3px;
  cursor: pointer;
}
.controller:hover {
  /*background: var(--blue-medium);*/
  box-shadow: inset 0 0 0px 1px rgba(var(--blue-light-rgb), .2);
}
.controller.active {
  background: var(--blue-darker);
}

.controller img {
  height: 30px;
  margin-bottom: 3px;
}

.controller .text {
  opacity: .5;
}
.controller.active .text {
  opacity: .7;
}

.resetContainer {
  margin-top: 30px;
  margin-bottom: 50px;
}

.reset {
  display: inline-block;
  padding: 2px 10px;
  color: var(--blue-light);
  cursor: pointer;
}
.reset:hover {
  text-decoration: underline;
}

.solve {
  display: inline-block;
  padding: 2px 10px;
  background: #bababa;
  border-radius: 5px;
  font-size: 1.5em;
  border: 1px solid #e7e6e6;
  color: #333;
  cursor: pointer;
  background: #7304b8;
  margin-right: 30px;
  border: 1px solid #380d68;
  color: white;
}
.solve:hover {
  background: #8b00e1;
}
.solve:active {
  background: #7304b8;
}

.row {
  display: flex;
  justify-content: center;
}
.cell {
  flex: 1;
  max-width: 60px;
  height: 60px;
  /*background: var(--blue-medium);*/
  cursor: pointer;
  border: 1px solid rgba(var(--blue-light-rgb), .5);
  /*color: transparent;*/
}
.cell:hover {
  background: var(--blue-medium);
}
.cell:not(:first-child) {
  border-left: none;
}
.row:not(:first-child) .cell {
  border-top: none;
}
.cell.path {
  background: green;
}
.cell.path:hover {
  background: #47ad1f;
}

.cell img {
  max-width: 80%;
  margin: 10%;
}